*{
    /* border: dashed 0.5px;*/
    box-sizing: border-box;
    font-family: sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                not supported by any browser */
}
body{
    margin: 0;
    background-color: cadetblue;
}
.back{
    position: relative;
    width: 100%;
}
.content{
    padding: 10px;
}
.editor-column, .summary-column{
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: groove;
    border: 4px;
    padding: 5px;
    box-shadow: 5px 5px 2px black;
}
.summary-header,.summary-content,.list-element{
    border-top: 0.01rem solid gainsboro ;
}
.summary-column>.summary-header:first-child,
.editor-column > .list > .list-element:first-child{
    border-top: 0;
}
.add-line{
    position: relative;
    border-bottom: 0.01rem solid gainsboro ;
    padding: 5px;
}
.add-button{
    background-color: darkslateblue;
    float: right;
    color: white;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 1px black;
}
.add-button:hover{
    background-color: dodgerblue;
}
.list,.list-element,.list-element-nonfloat,.list-element-float-container{
    position: relative;
    pointer-events: none;
}
.list-element-float{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    pointer-events: none;
}
.list-element-name{
    position: relative;
    float: left;
    font-size: 11px;
    padding: 4px;
}
.list-element-center-area{
    width: 90px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.minus-button, .plus-button{
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 22px;
    padding: 2px;
    text-align: center;
    color: white;
    font-weight: 900;
    pointer-events: visible;
    margin: 2px;
    box-shadow: 2px 2px 1px black;
}
.minus-button{
    background-color: red;
}
.minus-button-enabled:hover{
    background-color: firebrick;
}
.plus-button{
    background-color: limegreen;
}
.plus-button-enabled:hover{
    background-color: green;
}
.list-element-count{
    display:  inline-block;
    border-radius: 3px;
    width: 20px;
    background-color: lightgray;
    text-align: center;
    margin: 2px;
}
.list-element-right-area{
     display: inline-block;
    float: right;
    padding: 1px;
}
.buy-button, .delete-button{
    border-radius: 3px;
    display: inline-block;
    pointer-events: visible;
    text-align: center;
    margin: 2px;
    box-shadow: 2px 2px 1px black;
}
.buy-button{
    background-color: grey;
    color: white;
}
.buy-button:hover{
    background-color: lightgray;
}
.delete-button{
    background-color: indianred;
    width: 20px;
}
.delete-button:hover{
    background-color: palevioletred;
}
.summary-content{
    padding: 3px;
}
.summary-element{
    border-radius: 3px;
    background-color: lightgray;
    width: inherit;
    display: inline-block !important;
    padding: 1px;
    margin: 1px;
}
.summary-element-name{
    font-size: 11px;
    padding: 4px;
}
.summary-element-count{
    border-radius: 50%;
    width: 20px;
    width: 20px;
    background-color: orange;
    text-align: center;
    display: inline-block;
}
.bought span{
    text-decoration: line-through;
}
@media(min-width: 500px){
    .back{
         padding-top: 50px;
    }
    .content{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .editor-column{
        width: 60%;
        float: left;
    }
    .summary-column{
        width: 30%;
        float: right;
    }
}
@media(max-width: 500px){
    .back{
         padding-top: 0px;
    }
    .content{
        width: 100%;
        margin: 0;
    }
    .editor-column, .summary-column{
         width: 100%;
    }
}